.mainContainer {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.row {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.form {
    display: flex;
    flex-direction: column;
}

.label {
    width: 70px;
    margin-right: 10px;
}